.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.site-title {
  display: inline-flex;
  align-items: center;
  margin-left: 1em;

  .site-logo {
    filter: invert(1);
    margin-top: -3px;
  }
}

.external-link {
  mat-icon.external-link {
    margin-left: 0.25em
  }
}
