<app-base-form [model]="model">
    <app-form-input-text name="name" label="Name" [model]="model"></app-form-input-text>
    <app-form-input-text name="mac" label="MAC Address" [model]="model"></app-form-input-text>
    <app-form-input-dropdown name="scriptId" label="Script" [options]="scripts" [model]="model"></app-form-input-dropdown>
    <app-form-input-dropdown name="bootConfigId" label="Boot Config" [options]="bootConfigs" [model]="model"></app-form-input-dropdown>
    <app-form-buttons action="add" [validate]="validate" [submit]="submit" [model]="model"></app-form-buttons>
</app-base-form>
