<div class="form-container">
    <form #f="ngForm" (ngSubmit)="save(f)">
        <div class="form-field" *ngFor="let field of fields">
            <mat-form-field appearance="fill">
                <mat-label>{{ field }}</mat-label>
                <input name="{{field}}" matInput ngModel>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Script</mat-label>
                <textarea name="scriptContent" matInput ngModel></textarea>
            </mat-form-field>
        </div>

        <div class="form-buttons">
            <button mat-button (click)="close()">Cancel</button>
            <button mat-button color="primary" type="submit">Save</button>
        </div>
    </form>
</div>