:host {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;

    mat-icon {
        cursor: pointer;
        color: #888;

        &:hover {
            color: #444
        }
    }
}