/* You can add global styles to this file, and also import other style files */

// From Angular Material
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#page-title {
    text-align: center;
}

.full-width {
    width: 100%;
}
